/* My Styles */
@import url(satoshi.css);

body {
    display: grid;
    justify-content: center;
    align-content: center;
    /* height: 100vh;
    width: 90vh; */
    width: 425px;
    margin: auto;
    background-color: #242933;
}

h1 {
    font-family: 'Satoshi-Medium';
    color: #ec4c56;
}

p {
    font-family: 'Satoshi-Light';
    color: #f6f0e9;
}

ul {
    list-style: none;
}

a {
    color: #ec4c56;
    font-family: 'Satoshi-Regular';
    text-decoration: none;
}
a:visited {
    color: #ec4c56;
}
a:hover {
    color: #f6f0e9;
}

img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 2%;
    filter: grayscale(100%);
    
}